<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/wild.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Wildlife-tracker</h4>
          <h5 class="card-text"><b>Technology :</b> Java,Bootstrap4,Spark,postgres,handlebars</h5>
            <h5 class="card-text"><a href="gwildlife.herokuapp.com/">Live link</a></h5>
           
            <a href="https://github.com/gloriamutie/Wildlife-tracker" class="btn btn-primary stretched-link">GithubLink</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/hero.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Hero-Squad</h4>
           <h5 class="card-text"><b>Technology :</b> Java,jquery,html5,CSS3,Intellij,Maven,Gradle</h5>
    
            <h5 class="card-text"><a href="gheros.herokuapp.com/">Live link</a></h5>
    
       
          <a href="https://github.com/gloriamutie/Hero-Squad" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/gamekidslayouts.jpg" alt="Card image" style="width: inherit;">
        <div class="card-body">
          <h4 class="card-title">Baby Games</h4>
          <h5 class="card-text"><b>Technology :</b>Java, Xml, Firestore,Firebase Storage,Espresso,
            Robolectric </h5>
            <h5 class="card-text">Please clone this project and emulate</h5>
                <a href="https://github.com/gloriamutie/ColorApp" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/news.jpeg" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">ORGANISATIONAL NEWS PORTAL API</h4>
           <h5 class="card-text"><b>Technology :</b> Java,Maven,intellij,Gradle,Heroku,junit 5 </h5>
        
          <a href="https://github.com/gloriamutie/News_Report" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
       
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/mobi1.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Mobulance</h4>
           <h5 class="card-text"><b>Technology :</b> Android studio,Firebase,Google maps Api,Node.js, JavaScript,ht</h5>
             <h5 class="card-text"> Still in development.Clone and run the application.</h5>
         
          <a href="https://github.com/gloriamutie/Mobulance" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
      </div>
   
     
    
    
    
   
    </div>
    </div>
  </div>